# Documentation: http://docs.travis-ci.com/user/languages/julia/
language: julia
os:
  - linux
  - osx
julia:
  - 0.6
  - 0.7
  - 1.0
  - nightly
notifications:
  email: false
matrix:
  allow_failures:
    - julia: nightly
  fast_finish: true
after_success:
  # push coverage results to Coveralls
  - julia -e 'cd(Pkg.dir("Suppressor")); Pkg.add("Coverage"); using Coverage; Coveralls.submit(Coveralls.process_folder())'
  # push coverage results to Codecov
  - julia -e 'cd(Pkg.dir("Suppressor")); Pkg.add("Coverage"); using Coverage; Codecov.submit(Codecov.process_folder())'
